.header {
  background-color: white;
  padding: 20px 0;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  width: 60px;
  height: 60px;
}

.header__nav{
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 41px;
}

.header__link {
  font-weight: bold;
}

.header__link-activity {
  color: #3586FF;
  font-weight: bold;
}

.login {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #19191965;
  z-index: 22;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login__form {
  background-color: white;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  border-radius: 20px;
}

.login__form input {
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
}

.close__container{
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  transition: all 0.2s;
}


.close {
  width: 100%;
  height: 5px;
  position: relative;
  border: none;
  background-color: #3586FF;
  transform: rotate(45deg);
  cursor: pointer;
}

.close::before {
  content: "";
  width: 100%;
  height: 5px;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #3586FF; 
  transform: rotate(-90deg);
  cursor: pointer;
}

.login__button{
  display: flex;
  align-items: center;
  justify-content: center;
}

.propfile__container{
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.profile__menu {
  width: 20px;
  height: 20px;
  background-color: red;
}